rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Funções dos usuários
    function isGarcom(userId) {
      return get(getUserDocument(userId)).data.role == 'garcom';
    }

    function isCaixa(userId) {
      return get(getUserDocument(userId)).data.role == 'caixa';
    }

    function getRole(userId) {
      return get(getUserDocument(userId)).data.role;
    }

    function getUserDocument(userId) {
      return /databases/$(database)/documents/user/$(userId);
    }

    function isAuthenticated() {
      return request.auth != null;
    }

    // Garçom: Acesso ao menu de mesas e permissão para realizar pedidos
    match /mesas/{mesaId} {
      allow read, update: if isAuthenticated() && isGarcom(request.auth.uid) && getRole(request.auth.uid) == 'garcom';
    }

    match /pedidos/{pedidoId} {
      allow create: if isAuthenticated() && isGarcom(request.auth.uid)  && getRole(request.auth.uid) == 'garcom';
    }

    // Caixa: Permissões do garçom, além de realizar fechamento de caixa e mesas
    match /caixa/{caixaId} {
      allow read, write: if isAuthenticated() && isCaixa(request.auth.uid) && getRole(request.auth.uid) == 'caixa';
    }

    match /mesas/{mesaId} {
      allow update: if isAuthenticated() && isCaixa(request.auth.uid) && getRole(request.auth.uid) == 'caixa';
    }

    // Ao cancelar uma mesa, uma notificação deve ser enviada ao gerente e a solicitação salva na coleção cancelamentodemesa.
    match /cancelamentodemesa/{cancelamentoId} {
      allow create: if isAuthenticated() && isCaixa(request.auth.uid)  && getRole(request.auth.uid) == 'caixa';
    }

    match /controlefinanceiro/{documentId} {
      allow create: if isAuthenticated();
      allow read, update, delete: if false;
    }

    // Gerente: Acesso total ao sistema e visualização de todas as operações
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
